{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}


    {% block mainContent %}
        <div class="main-content d-flex">
            <div class="card">
                <img class="card-img-top" src="" alt="Card image cap">
            </div>

            <div class="card-body">
                <p class="card-text">je suis un text</p>
            </div>
        </div>
    {% endblock %}

