@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightgray;
}

.main-content{
    margin-top: 6em;
    margin-left: 12%;
    margin-right: 12%;
    border:solid;

}

.raju{
    width: 10em;
}



